<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReminderApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ReminderApp.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastBookedProject" serializeAs="String">
                <value />
            </setting>
            <setting name="lastBookedCode" serializeAs="String">
                <value />
            </setting>
            <setting name="lastBookedDesc" serializeAs="String">
                <value />
            </setting>
            <setting name="lastBookedHours" serializeAs="String">
                <value />
            </setting>
            <setting name="minimiseOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastBookedTechnology" serializeAs="String">
                <value />
            </setting>
            <setting name="enableTimesheetReminders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableMovementReminders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="movementDay" serializeAs="String">
                <value />
            </setting>
            <setting name="movementTime" serializeAs="String">
                <value />
            </setting>
            <setting name="movementCurrentWeek" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="movementsAutofill" serializeAs="String">
                <value>True</value>
            </setting>
        </ReminderApp.Properties.Settings>
    </userSettings>
</configuration>